<?php $form=$this->beginWidget('bootstrap.widgets.TbActiveForm',array(
	'id'=>'proyectos-form',
	'enableAjaxValidation'=>false,
)); ?>

	<p class="help-block">Los campos <span class="required">*</span> son requeridos.</p>

	<?php echo $form->errorSummary($model); ?>

	<?php echo $form->textFieldRow($model,'proNombre',array('class'=>'span5','maxlength'=>45)); ?>

	<?php //echo $form->textFieldRow($model,'proDescripcion',array('class'=>'span5','maxlength'=>45)); ?>

	<?php echo $form->textAreaRow($model, 'proDescripcion', array('class'=>'span5', 'rows'=>5)); ?>

	<?php //echo $form->textFieldRow($model,'proFechaPostulacion',array('class'=>'span5','maxlength'=>45)); ?>
	
	<?php echo $form->labelEx($model,'fecha de postulación');  ?>
	<?php $this->widget('zii.widgets.jui.CJuiDatePicker', array(
    'model' => $model,
    'attribute' => 'proFechaPostulacion',
    'language' => 'es',
    'i18nScriptFile' => 'jquery.ui.datepicker-ja.js',
    'htmlOptions' => array(
        'size' => '10',
        'maxlength' => '10',
    ),
	)); ?>

	<?php //echo $form->textFieldRow($model,'proFechaInicio',array('class'=>'span5','maxlength'=>45)); ?>

	<?php //echo $form->textFieldRow($model,'proFechaFinal',array('class'=>'span5','maxlength'=>45)); ?>

	<?php //echo $form->textFieldRow($model,'proCantidadUsuarios',array('class'=>'span5','maxlength'=>45)); ?>

	<?php echo $form->textFieldRow($model,'proCantidadMaximoUsuarios',array('class'=>'span5','maxlength'=>45)); ?>

	<?php echo $form->textFieldRow($model,'proCantidadMinimaUsuarios',array('class'=>'span5','maxlength'=>45)); ?>

	<?php //echo $form->textFieldRow($model,'proEstado',array('class'=>'span5')); ?>

	<?php //echo $form->textFieldRow($model,'tblFases_fasId',array('class'=>'span5')); ?>

	<?php $fases = CHtml::listData(Fases::model()->findAll(),'fasId','fasTipo');?>
	<?php echo $form->dropDownListRow($model, 'tblFases_fasId',$fases, array()); ?>	

	<div class="form-actions">
		<?php $this->widget('bootstrap.widgets.TbButton', array(
			'buttonType'=>'submit',
			'type'=>'primary',
			'label'=>$model->isNewRecord ? 'Create' : 'Save',
		)); ?>
	</div>

<?php $this->endWidget(); ?>
